.table {
  width: 100%;
  border-collapse: collapse;

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }

  td,
  th {
    padding: 8px;
  }

  tr {
      height: 50px;
  }

  &__row {
    border-top: solid 1px #292c36;
  }

  &__row:hover {
    background-color: #33373d;
  }

  &--sub {
    background-color: #292c36;
    border-left: grey 5px solid;
  }
}

.chart {
    height: 300px;
    width: 50%;
}

.position-detail {
    background-color: #1a1d24;
    display: flex;
}

.position-info {
    width: 50%;
}

.position-info-table {
    margin: 10px;
    padding-left: 10px;
    border-left: solid 1px #292c36;
}

.risky-ratio {
  display: flex;

  &__chart {
    max-height: 300px;
  }
}